---
AnalyzeTemporaryDtors: true
Checks: |
  -*,
  cert-*,
  clang-*,
  concurrency-*,
  cppcoreguidelines-*,
  hicpp-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -misc-no-recursion,
  -readability-identifier-length,
  -readability-static-accessed-through-instance
FormatStyle: file
HeaderFilterRegex: ".*"
WarningsAsErrors: "*"
