---
AnalyzeTemporaryDtors: true
Checks: >
  *,
  -altera-*,
  -bugprone-easily-swappable-parameters,
  -fuchsia-*,
  -google-*,
  -llvmlibc-*,
  -misc-no-recursion
FormatStyle: file
WarningsAsErrors: "*"
