---
jobs:
  codecov:
    concurrency:
      cancel-in-progress: ${{ github.ref != 'refs/heads/stable' }}
      group: ${{ github.workflow }}-${{ github.ref }}
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3.3.0
        with:
          submodules: true
      - name: CCache
        uses: actions/cache@v3.3.1
        with:
          key: codecov-${{ github.run_id }}
          path: .ccache
          restore-keys: |
            codecov-
            build-
      - name: Run regression with coverage
        uses: ./
        with:
          run: python tools/codecov.py >llvm-profile.lcov
      - run: ls -al ${{ github.workspace }}
      - uses: codecov/codecov-action@v3.1.1
        with:
          directory: ${{ github.workspace }}
          files: llvm-profile.lcov

name: CodeCov

# yamllint disable-line rule:truthy
on:
  pull_request:
    paths:
      - .github/ccache/**
      - .github/workflows/codecov.yml
      - "**.cpp"
      - "**.h"
      - "**.hpp"
      - "**.py"
      - action.yml
      - cmake/**
      - CMakeLists.txt
      - external/**
      - requirements.core.txt
      - requirements.txt
      - stdlib/**
      - unit_tests/**
  push:
    branches:
      - stable
      - regression-refs/**
      - update-fuzz-refs/**
    paths:
      - .github/ccache/**
      - .github/workflows/codecov.yml
      - "**.cpp"
      - "**.h"
      - "**.hpp"
      - "**.py"
      - action.yml
      - cmake/**
      - CMakeLists.txt
      - external/**
      - requirements.core.txt
      - requirements.txt
      - stdlib/**
      - unit_tests/**
  workflow_dispatch: ~
